@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
}

button:hover,
:focus {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: "Roboto", sans-serif;
}

a,
a:hover,
a:visited,
a:focus,
a:link {
  text-decoration: none;
}

div.notification-container--top-center .notification {
  width: 100% !important;
}

div.notification-container--top-center .notification .notification__item {
  height: 100px;
}

div.notification-container--top-center .notification .notification__item .notification__title {
  font-size: 1.2rem;
}

div.notification-container--top-center .notification .notification__item .notification__message {
  font-size: 1rem;
}

.empirical_data_dashboard {
  width: 100%;
  padding: 20px;
  padding-top: 0px;
}

.empirical_data_dashboard .general-settings {
  padding: 5px 0px;
  color: #3069c0;
}

.empirical_data_dashboard .general-settings .see-friends-activity {
  text-align: right;
}

.empirical_data_dashboard .time-range-selector .MuiSelect-root {
  padding: 5px;
  padding-right: 20px;
  width: 130px;
  font-size: 0.95rem;
  text-align: center;
}

.empirical_data_dashboard .top_gadgets, .empirical_data_dashboard .top_charts, .empirical_data_dashboard .mid_charts, .empirical_data_dashboard .bottom_charts, .empirical_data_dashboard .last_charts {
  margin-bottom: 50px;
}

.empirical_data_dashboard .top_gadgets {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 3rem;
  color: white;
}

.empirical_data_dashboard .top_charts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
}

.empirical_data_dashboard .top_charts .line_track_history {
  grid-column: span 6;
  margin: auto;
  width: 100%;
}

.empirical_data_dashboard .top_charts .donut_run_distance {
  grid-column: span 4;
  margin: auto;
  width: 80%;
}

.empirical_data_dashboard .top_charts .treemap-distances {
  grid-column: span 4;
  margin: auto;
  width: 80%;
}

.empirical_data_dashboard .mid_charts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
}

.empirical_data_dashboard .mid_charts .speed-distance-scatter {
  grid-column: span 4;
}

.empirical_data_dashboard .bottom_charts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
}

.empirical_data_dashboard .bottom_charts .distance_time_bar {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 10;
}

.empirical_data_dashboard .last_charts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
}

.empirical_data_dashboard .last_charts .heatmap-runs {
  grid-column: span 3;
}

.empirical_data_dashboard .last_charts .synced-charts {
  grid-column: span 7;
}

.icon_stat_gadget {
  border-radius: 7px;
  background-color: red;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

.icon_stat_gadget .stat_number_name {
  grid-column: span 2;
  text-align: left;
  padding: 10px;
}

.icon_stat_gadget .stat_number_name .total_number {
  font-size: 2.2rem;
}

.icon_stat_gadget .stat_number_name .name_of_stat {
  font-size: 1rem;
}

.icon_stat_gadget .icon_stat {
  margin: auto;
}

.recent-runs-box {
  border: lightgray 1px solid;
  border-radius: 5px;
  grid-column: span 6;
  margin: auto;
  width: 80%;
  font-size: 1.1rem;
}

.recent-runs-box > h4 {
  padding: 30px;
  font-size: 1.3rem;
  font-weight: 600;
}

.recent-runs-box .title-runs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  padding: 25px 35px;
  color: gray;
  font-weight: 400;
}

.recent-runs-box .actual-recent-runs hr {
  border: none;
  border-bottom: 1px solid lightgray;
}

.recent-runs-box .actual-recent-runs .single-run {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 25px 35px;
  border-bottom: 1px solid lightgray;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.recent-runs-box .actual-recent-runs .single-run:last-child {
  border: none;
}

.recent-runs-box .actual-recent-runs .single-run:hover {
  background: #F2F4F8;
}

.recent-runs-box .actual-recent-runs .single-run:hover .pace-single-run p {
  background-color: #3399ff;
}

.recent-runs-box .actual-recent-runs .single-run .icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: auto 0;
}

.recent-runs-box .actual-recent-runs .single-run .icons i {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.recent-runs-box .actual-recent-runs .single-run .icons .delete-icon i {
  background-color: #ffeaea;
  border-radius: 7px;
  padding: 10px;
  color: red;
}

.recent-runs-box .actual-recent-runs .single-run .icons .delete-icon i:hover {
  background-color: #FC4B6C;
  color: white;
}

.recent-runs-box .actual-recent-runs .single-run .icons .edit-icon i {
  padding: 10px 8px;
  color: #2196F3;
  background-color: #e8e8fc;
  border-radius: 7px;
}

.recent-runs-box .actual-recent-runs .single-run .icons .edit-icon i:hover {
  color: white;
  background-color: #2196F3;
}

.recent-runs-box .actual-recent-runs .single-run > .important-stat {
  margin: auto 0;
}

.recent-runs-box .actual-recent-runs .single-run .pace-single-run {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recent-runs-box .actual-recent-runs .single-run .pace-single-run p {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
}

.recent-runs-box .actual-recent-runs .single-run .total_distance {
  font-weight: 800;
}

.recent-runs-box .actual-recent-runs .single-run .total_time-bold {
  color: gray;
  font-weight: 600;
}

::-moz-selection {
  color: #3069c0;
  background: white;
}

::selection {
  color: #3069c0;
  background: white;
}

.login-div, .register-div, .reset-password {
  margin-top: 50px;
}

.login-div .form-login, .register-div .form-login, .reset-password .form-login, .register-div .form-register, .reset-password .form-reset {
  background-color: #3069c0;
  width: 500px;
  margin: auto;
  border-radius: 15px;
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.login-div .form-login h3, .register-div .form-login h3, .reset-password .form-login h3, .register-div .form-register h3, .reset-password .form-reset h3 {
  padding-bottom: 40px;
  text-align: center;
  font-size: 1.8rem;
  color: white;
}

.login-div .form-login .help-anchortags, .register-div .form-login .help-anchortags, .reset-password .form-login .help-anchortags, .register-div .form-register .help-anchortags, .reset-password .form-reset .help-anchortags {
  text-align: center;
  grid-gap: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  padding-top: 20px;
}

.login-div .form-login .help-anchortags a, .register-div .form-login .help-anchortags a, .reset-password .form-login .help-anchortags a, .register-div .form-register .help-anchortags a, .reset-password .form-reset .help-anchortags a {
  font-size: 1rem;
  color: white;
}

.login-div .form-login .form-fields, .register-div .form-login .form-fields, .reset-password .form-login .form-fields, .register-div .form-register .form-fields, .reset-password .form-reset .form-fields {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 2rem;
  color: white;
}

.login-div .form-login .form-fields .username-field, .register-div .form-login .form-fields .username-field, .reset-password .form-login .form-fields .username-field, .register-div .form-register .form-fields .username-field, .reset-password .form-reset .form-fields .username-field,
.login-div .form-login .form-fields .password-field,
.register-div .form-login .form-fields .password-field,
.reset-password .form-login .form-fields .password-field,
.register-div .form-register .form-fields .password-field,
.reset-password .form-reset .form-fields .password-field,
.login-div .form-login .form-fields .email-field,
.register-div .form-login .form-fields .email-field,
.reset-password .form-login .form-fields .email-field,
.register-div .form-register .form-fields .email-field,
.reset-password .form-reset .form-fields .email-field {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

.login-div .form-login .form-fields .username-field small, .register-div .form-login .form-fields .username-field small, .reset-password .form-login .form-fields .username-field small, .register-div .form-register .form-fields .username-field small, .reset-password .form-reset .form-fields .username-field small,
.login-div .form-login .form-fields .password-field small,
.register-div .form-login .form-fields .password-field small,
.reset-password .form-login .form-fields .password-field small,
.register-div .form-register .form-fields .password-field small,
.reset-password .form-reset .form-fields .password-field small,
.login-div .form-login .form-fields .email-field small,
.register-div .form-login .form-fields .email-field small,
.reset-password .form-login .form-fields .email-field small,
.register-div .form-register .form-fields .email-field small,
.reset-password .form-reset .form-fields .email-field small {
  font-size: 1rem;
  grid-row: span 2;
}

.login-div .form-login .form-fields .username-field .password-visibility, .register-div .form-login .form-fields .username-field .password-visibility, .reset-password .form-login .form-fields .username-field .password-visibility, .register-div .form-register .form-fields .username-field .password-visibility, .reset-password .form-reset .form-fields .username-field .password-visibility,
.login-div .form-login .form-fields .password-field .password-visibility,
.register-div .form-login .form-fields .password-field .password-visibility,
.reset-password .form-login .form-fields .password-field .password-visibility,
.register-div .form-register .form-fields .password-field .password-visibility,
.reset-password .form-reset .form-fields .password-field .password-visibility,
.login-div .form-login .form-fields .email-field .password-visibility,
.register-div .form-login .form-fields .email-field .password-visibility,
.reset-password .form-login .form-fields .email-field .password-visibility,
.register-div .form-register .form-fields .email-field .password-visibility,
.reset-password .form-reset .form-fields .email-field .password-visibility {
  margin-top: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  width: auto;
  background-color: #3069c0;
  color: white;
  border: none;
  padding: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.login-div .form-login .form-fields .username-field .password-visibility:focus, .register-div .form-login .form-fields .username-field .password-visibility:focus, .reset-password .form-login .form-fields .username-field .password-visibility:focus, .register-div .form-register .form-fields .username-field .password-visibility:focus, .reset-password .form-reset .form-fields .username-field .password-visibility:focus,
.login-div .form-login .form-fields .password-field .password-visibility:focus,
.register-div .form-login .form-fields .password-field .password-visibility:focus,
.reset-password .form-login .form-fields .password-field .password-visibility:focus,
.register-div .form-register .form-fields .password-field .password-visibility:focus,
.reset-password .form-reset .form-fields .password-field .password-visibility:focus,
.login-div .form-login .form-fields .email-field .password-visibility:focus,
.register-div .form-login .form-fields .email-field .password-visibility:focus,
.reset-password .form-login .form-fields .email-field .password-visibility:focus,
.register-div .form-register .form-fields .email-field .password-visibility:focus,
.reset-password .form-reset .form-fields .email-field .password-visibility:focus {
  outline: none;
}

.login-div .form-login .form-fields input, .register-div .form-login .form-fields input, .reset-password .form-login .form-fields input, .register-div .form-register .form-fields input, .reset-password .form-reset .form-fields input {
  background-color: #3069c0;
  grid-row: span 3;
  height: 50px;
  border-radius: 10px;
  border: none;
  margin: auto;
  width: 100%;
  border: 1px solid lightgray;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.3rem;
}

.login-div .form-login .form-fields input:focus, .register-div .form-login .form-fields input:focus, .reset-password .form-login .form-fields input:focus, .register-div .form-register .form-fields input:focus, .reset-password .form-reset .form-fields input:focus {
  outline: none;
  border: 1px solid lightgray;
}


.login-div .form-login .form-fields .email-field,
.register-div .form-login .form-fields .email-field,
.reset-password .form-login .form-fields .email-field,
.register-div .form-register .form-fields .email-field,
.reset-password .form-reset .form-fields .email-field, .login-div .form-login .form-fields .username-field, .register-div .form-login .form-fields .username-field, .reset-password .form-login .form-fields .username-field, .register-div .form-register .form-fields .username-field, .reset-password .form-reset .form-fields .username-field {
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.login-div .form-login .form-fields .email-field input, .register-div .form-login .form-fields .email-field input, .reset-password .form-login .form-fields .email-field input, .register-div .form-register .form-fields .email-field input, .reset-password .form-reset .form-fields .email-field input,
.login-div .form-login .form-fields .username-field input,
.register-div .form-login .form-fields .username-field input,
.reset-password .form-login .form-fields .username-field input,
.register-div .form-register .form-fields .username-field input,
.reset-password .form-reset .form-fields .username-field input {
  grid-row: span 3;
}


.login-div .form-login .form-fields .email-field small,
.register-div .form-login .form-fields .email-field small,
.reset-password .form-login .form-fields .email-field small,
.register-div .form-register .form-fields .email-field small,
.reset-password .form-reset .form-fields .email-field small, .login-div .form-login .form-fields .username-field small, .register-div .form-login .form-fields .username-field small, .reset-password .form-login .form-fields .username-field small, .register-div .form-register .form-fields .username-field small, .reset-password .form-reset .form-fields .username-field small {
  grid-row: span 1;
}

.login-div .form-login .form-fields .submit-btn-form, .register-div .form-login .form-fields .submit-btn-form, .reset-password .form-login .form-fields .submit-btn-form, .register-div .form-register .form-fields .submit-btn-form, .reset-password .form-reset .form-fields .submit-btn-form {
  font-size: 1.2rem;
  width: 100%;
  height: 40px;
  margin: auto;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: white;
  background-color: #3069c0;
}

.login-div .form-login .form-fields .submit-btn-form:hover, .register-div .form-login .form-fields .submit-btn-form:hover, .reset-password .form-login .form-fields .submit-btn-form:hover, .register-div .form-register .form-fields .submit-btn-form:hover, .reset-password .form-reset .form-fields .submit-btn-form:hover {
  background-color: white;
  color: #3069c0;
}

.login-div .form-login .form-fields-add-run, .register-div .form-login .form-fields-add-run, .reset-password .form-login .form-fields-add-run, .register-div .form-register .form-fields-add-run, .reset-password .form-reset .form-fields-add-run {
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.register-div .form-fields-register {
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

.reset-password .form-reset .form-fields {
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.navbar-gv {
  background-color: #3069c0;
  display: -ms-grid;
  display: grid;
  height: 7vh;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
}

.navbar-gv .important-pages {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.navbar-gv .important-pages h1 {
  margin: auto;
  color: white;
  font-size: 1.5rem;
}

.navbar-gv .important-pages h1 span {
  font-weight: 500;
}

.navbar-gv .important-pages .main-pages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-gv .important-pages .main-pages a {
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin: auto;
  color: white;
  font-size: 1.3rem;
}

.navbar-gv .important-pages .main-pages a:hover {
  color: black;
}

.navbar-gv .important-pages .main-pages a:active {
  color: black;
}

.navbar-gv .user-flag {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 10;
  display: -ms-grid;
  display: grid;
  font-size: 1.1rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.navbar-gv .user-flag .flag-emoji {
  font-size: 1.5rem;
}

.navbar-gv .user-flag a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: white;
  margin: auto;
}

.navbar-gv .user-flag a:hover {
  color: black;
}

.nightmode-switcher {
  margin: auto;
  /* Rounded sliders */
}

.nightmode-switcher .switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.nightmode-switcher .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.nightmode-switcher .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.nightmode-switcher .slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.nightmode-switcher input:checked + .slider {
  background-color: #2196F3;
}

.nightmode-switcher input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

.nightmode-switcher input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  transform: translateX(13px);
}

.nightmode-switcher .slider.round {
  border-radius: 17px;
}

.nightmode-switcher .slider.round:before {
  border-radius: 50%;
}

.run-info-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  width: 100%;
  padding: 0px;
}

.run-info-page .recent-runs-div {
  margin-top: 100px;
  grid-column: span 2;
}

.run-info-page .recent-runs-div .recent-runs-box {
  width: 95%;
  margin: 0px;
  margin: auto;
  margin-bottom: 30px;
}

.run-info-page .login-div, .run-info-page .register-div, .run-info-page .reset-password {
  padding: 0px;
}

.recent-runs-box .actual-recent-runs.dummy-recent {
  cursor: not-allowed;
  background-color: #C1C1C1;
  font-style: italic;
}

.recent-runs-box .actual-recent-runs.dummy-recent .single-run .icons .edit-icon i {
  color: gray;
  background-color: inherit;
}

.recent-runs-box .actual-recent-runs.dummy-recent .single-run .icons .edit-icon i:hover {
  color: gray;
  background-color: inherit;
}

.recent-runs-box .actual-recent-runs.dummy-recent .single-run .icons .delete-icon i {
  background-color: inherit;
  color: gray;
}

.recent-runs-box .actual-recent-runs.dummy-recent .single-run .icons .delete-icon i:hover {
  background-color: inherit;
}

.recent-runs-box .actual-recent-runs.dummy-recent .single-run .icons i {
  cursor: inherit;
}

.recent-runs-box .actual-recent-runs.dummy-recent .single-run:hover {
  background: inherit;
}

.recent-runs-box .actual-recent-runs.dummy-recent .single-run:hover .pace-single-run p {
  background-color: inherit;
}

.account-settings {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
}

.account-settings .side-menu-bar {
  border: 1px solid black;
  border-radius: 10px;
  grid-column: span 3;
  margin: auto;
  width: 50%;
  margin-top: 50px;
}

.account-settings .side-menu-bar li {
  font-weight: 800;
  font-size: 1.0rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  padding: 20px;
  border-bottom: 1px solid black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.account-settings .side-menu-bar li:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.account-settings .side-menu-bar li:last-child {
  border: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.account-settings .side-menu-bar li:hover {
  background-color: #3069c0;
}

.account-settings .side-menu-bar li:hover p {
  color: white;
}

.account-settings .side-menu-bar li:hover i {
  color: white;
}

.account-settings .side-menu-bar li p {
  color: #3069c0;
  grid-column: span 4;
}

.account-settings .side-menu-bar li i {
  color: #3069c0;
}

.account-settings .actual-account-settings {
  grid-column: span 6;
  margin-top: 50px;
}

.account-settings .actual-account-settings ::-moz-selection {
  color: white;
  background: #3069c0;
}

.account-settings .actual-account-settings ::selection {
  color: white;
  background: #3069c0;
}

.account-settings .actual-account-settings hr {
  border: none;
  border-bottom: 1px solid #3069c0;
}

.account-settings .actual-account-settings .fields-available {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 1.0rem;
  margin-top: 20px;
}

.account-settings .actual-account-settings .fields-available .username-change-field {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 2;
  grid-row: 2;
}

.account-settings .actual-account-settings .fields-available .username-change-field .MuiInputBase-input {
  text-align: left;
  width: 350px;
}

.account-settings .actual-account-settings .fields-available .username-change-field .length-username-red {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}

.account-settings .actual-account-settings .fields-available .username-change-field .length-username-green {
  color: green;
  font-size: 0.8rem;
  margin-top: 5px;
}

.account-settings .actual-account-settings .fields-available .unit-change-field {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 7;
  -ms-grid-row: 1;
  grid-row: 1;
  text-align: left;
}

.account-settings .actual-account-settings .fields-available .unit-change-field .MuiSelect-root {
  text-align: left;
  width: 100px;
}

.account-settings .actual-account-settings .fields-available .change-language-field {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 9;
  -ms-grid-row: 1;
  grid-row: 1;
  text-align: left;
}

.account-settings .actual-account-settings .fields-available .change-language-field .MuiSelect-root {
  text-align: left;
  width: 130px;
}

.account-settings .actual-account-settings .fields-available .preferred-distance-range {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 11;
  -ms-grid-row: 1;
  grid-row: 1;
}

.account-settings .actual-account-settings .fields-available .weekly-goal-change-field {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 8;
}

.account-settings .actual-account-settings .fields-available .monthly-goal-change-field {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 11;
}

.account-settings .actual-account-settings .fields-available .monthly-goal-change-field .MuiFormControl-root {
  text-align: left;
}

.account-settings .actual-account-settings .fields-available .email-change-field {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

.account-settings .actual-account-settings .fields-available .email-change-field .MuiInputBase-input {
  cursor: not-allowed;
  text-align: left;
  width: 330px;
}

.account-settings .actual-account-settings .fields-available .save-btn-div {
  text-align: center;
  -ms-grid-row: 3;
  grid-row: 3;
  margin-top: 30px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 11;
}

.account-settings .actual-account-settings .fields-available .save-btn-div button {
  font-weight: 400;
  font-size: 1.1rem;
  width: 200px;
}

.account-settings .actual-account-settings .fields-available > div {
  padding-top: 20px;
}

.account-settings .actual-account-settings .title-settings {
  font-size: 2rem;
  color: #3069c0;
  margin-bottom: 10px;
  font-weight: 600;
}

.password-settings {
  margin-top: 30px;
}

.password-settings .password-fields {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 1.5rem;
}

.password-settings .password-fields .password-change-field {
  margin: auto;
}

.password-settings .password-fields .password-change-field input {
  width: 300px;
}

.password-settings .password-fields .save-btn-div {
  -ms-grid-row: 3;
  grid-row: 3;
  margin: auto;
}

.selected {
  background-color: #3069c0;
}

.selected p {
  color: white !important;
}

.selected i {
  color: white !important;
}

.selected-middle {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.hms-input {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.hms-input .input-time {
  text-align: center;
  padding: 0px;
}

.hms-input > div {
  width: 50%;
  margin: auto;
}

.distance-input-div {
  text-align: center;
}

.distance-input-div input {
  width: 100px;
  height: 40px;
}

.add-run-div .form-login, .add-run-div .register-div .form-register, .register-div .add-run-div .form-register, .add-run-div .reset-password .form-reset, .reset-password .add-run-div .form-reset {
  border: 0px solid #3069c0;
  background-color: white;
}

.add-run-div .form-login h3, .add-run-div .register-div .form-register h3, .register-div .add-run-div .form-register h3, .add-run-div .reset-password .form-reset h3, .reset-password .add-run-div .form-reset h3 {
  color: #3069c0;
}

.add-run-div .form-login .form-fields, .add-run-div .register-div .form-register .form-fields, .register-div .add-run-div .form-register .form-fields, .add-run-div .reset-password .form-reset .form-fields, .reset-password .add-run-div .form-reset .form-fields {
  color: black;
}

.add-run-div .form-login .form-fields #date, .add-run-div .register-div .form-register .form-fields #date, .register-div .add-run-div .form-register .form-fields #date, .add-run-div .reset-password .form-reset .form-fields #date, .reset-password .add-run-div .form-reset .form-fields #date {
  margin: 0px;
  background-color: white;
  color: #3069c0;
  border: 2px solid #3069c0;
}

.add-run-div .form-login .form-fields .submit-btn-form:hover, .add-run-div .register-div .form-register .form-fields .submit-btn-form:hover, .register-div .add-run-div .form-register .form-fields .submit-btn-form:hover, .add-run-div .reset-password .form-reset .form-fields .submit-btn-form:hover, .reset-password .add-run-div .form-reset .form-fields .submit-btn-form:hover {
  background-color: #3399ff;
  color: white;
}

.add-run-div .form-login .form-fields .username-field input, .add-run-div .register-div .form-register .form-fields .username-field input, .register-div .add-run-div .form-register .form-fields .username-field input, .add-run-div .reset-password .form-reset .form-fields .username-field input, .reset-password .add-run-div .form-reset .form-fields .username-field input, .add-run-div .form-login .form-fields .password-field input, .add-run-div .register-div .form-register .form-fields .password-field input, .register-div .add-run-div .form-register .form-fields .password-field input, .add-run-div .reset-password .form-reset .form-fields .password-field input, .reset-password .add-run-div .form-reset .form-fields .password-field input, .add-run-div .form-login .form-fields .email-field input, .add-run-div .register-div .form-register .form-fields .email-field input, .register-div .add-run-div .form-register .form-fields .email-field input, .add-run-div .reset-password .form-reset .form-fields .email-field input, .reset-password .add-run-div .form-reset .form-fields .email-field input {
  border: 2px solid #3069c0;
  text-align: center;
  background-color: white;
  color: black;
  width: 50px;
  height: 40px;
}

.add-run-div .form-login .form-fields .distance-input-div input, .add-run-div .register-div .form-register .form-fields .distance-input-div input, .register-div .add-run-div .form-register .form-fields .distance-input-div input, .add-run-div .reset-password .form-reset .form-fields .distance-input-div input, .reset-password .add-run-div .form-reset .form-fields .distance-input-div input {
  width: 100px;
  height: 40px;
}

.add-run-div .edit-form {
  background-color: #FFD697;
}

.add-run-div .edit-form h3 {
  color: black;
}

.add-run-div .edit-form .form-fields #date {
  color: black;
  border: 2px solid #FFB84B;
}

.add-run-div .edit-form .form-fields .username-field input, .add-run-div .edit-form .form-fields .password-field input, .add-run-div .edit-form .form-fields .email-field input {
  border: 2px solid #FFB84B;
}

.add-run-div .edit-form .form-fields .submit-btn-form {
  -webkit-transition: all 0s;
  transition: all 0s;
  background-color: #FFB84B;
  color: black;
  border: 2px solid orange;
}

.add-run-div .edit-form .form-fields .submit-btn-form:hover {
  background-color: orange;
  color: black;
}

.buttons-div-edit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.3rem;
}

.buttons-div-edit button.cancel-btn {
  background-color: lightgray !important;
}

.buttons-div-edit button.cancel-btn:hover {
  background: #C7CFC3 !important;
}

.not-allowed-icons .edit-icon i:hover {
  color: #2196F3 !important;
  background-color: #e8e8fc !important;
}

.not-allowed-icons .delete-icon i:hover {
  background-color: #ffeaea !important;
  color: red !important;
}

.predictions-dashboard .main-graph-predictions {
  width: 80%;
  margin: auto;
  text-align: center;
}

.predictions-dashboard .main-graph-predictions h1 {
  padding: 30px 0px;
  color: black;
}

.mid_charts .recent-runs-box .title-runs {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.mid_charts .recent-runs-box .actual-recent-runs .single-run {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.mid_charts .recent-runs-box .actual-recent-runs .single-run .icons {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.mid_charts .recent-runs-box .actual-recent-runs .single-run .icons .delete-icon {
  margin: auto;
}

.goals-predictions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.add-new-run-btn {
  position: fixed !important;
  bottom: 5%;
  right: 5%;
}

.follows .menu-followers-following {
  color: white;
  font-size: 1.05rem;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

.follows .menu-followers-following .pages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.follows .menu-followers-following .pages > div {
  font-weight: 800;
  padding: 15px 15px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 2px solid #5685CB;
  color: #3069c0;
  text-align: center;
}

.follows .menu-followers-following .pages > div:hover {
  background-color: #3069c0;
  color: white;
}

.follows .menu-followers-following .pages .selected:hover {
  background-color: #3069c0;
}

.follows .menu-followers-following .pages > div {
  border-left: 1px solid #5685CB;
  border-right: 1px solid #5685CB;
}

.follows .menu-followers-following .pages > :first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 2px solid #5685CB;
}

.follows .menu-followers-following .pages > :last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 2px solid #5685CB;
}

.followers {
  margin-top: 20px;
}

.followers .single-follower {
  border: 2px solid #3069c0;
  margin-bottom: 8px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.followers .single-follower .follow-btn {
  margin-left: auto;
  display: inline-block;
  margin-right: 10px;
}

.followers .single-follower .follow-btn button {
  font-size: 0.88rem;
  padding: 5px 15px;
}

.followers .single-follower .fav-star {
  padding: 7px;
  margin-right: 35px;
  cursor: pointer;
  color: #3069c0;
  font-size: 1.0rem;
}

.followers .single-follower .followed {
  background: #51ad48;
  color: white;
}

.followers .single-follower .not-followed {
  background: #3069c0;
  color: white;
}

.followers .single-follower .accept-request {
  background-color: #51ad48;
  color: white;
}

.followers .single-follower .remove-request {
  background-color: #D04351;
  margin-left: 10px;
  color: white;
}

.followers .single-follower .cancel-request {
  background-color: #e0e0e0;
  color: black;
}

.followers .single-follower .disabled-request {
  cursor: not-allowed;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.followers .single-follower .disabled-request:hover {
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
}

.followers .single-follower .remove-follower {
  margin-left: 10px;
}

.followers .single-follower .info-user {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.followers .single-follower .info-user .profile-pic {
  display: inline-block;
  margin-left: 5px;
}

.followers .single-follower .info-user .profile-pic img {
  margin-top: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.followers .single-follower .info-user .general-info {
  margin-left: 30px;
  display: inline-block;
}

.followers .single-follower .info-user .general-info > div {
  padding-top: 5px;
  padding-bottom: 5px;
}

.followers .single-follower .info-user .general-info .username-profile {
  font-size: 1.2rem;
}

.followers .single-follower .info-user .general-info .short-stats {
  color: gray;
  font-size: 0.8rem;
  font-weight: 800;
}

.followers .single-follower .info-user .general-info .short-stats > span {
  padding-right: 5px;
}

.search-username-div {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.search-username-div .title-send-request {
  font-size: 1.3rem;
  color: #3069c0;
}

.search-username-div .search-username {
  font-size: 1.3rem;
  padding: 5px 10px;
  border-color: #3069c0;
  border-width: 2px;
}

.search-username-div .search-username:focus {
  background-color: #F1F1F1;
}

.search-username-div .send-request-emoji {
  padding: 7px;
  padding-left: 5px;
  padding-right: 9px;
  font-size: 1.3rem;
  border: 2px solid #3069c0;
  border-left: none;
  color: #3069c0;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.search-username-div .send-request-emoji:hover {
  color: white;
  background-color: #3069c0;
}

.outlined-distance-range {
  width: 90px;
}

.options-runs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
}

.options-runs .runs-number-view {
  text-align: center;
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.options-runs .MuiSelect-root {
  font-size: 0.9rem;
  padding: 5px 20px;
}

.personal-runs-title {
  font-size: 1.8rem;
  color: #3069c0;
}

.synced-charts-width {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */